.c-contact-us_link_bg {
	background-size: cover !important;
	display: flex;
	&.o-ratio:before {
		width:0;
	}
	.o-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;  
		z-index: 1;
		flex-direction: column;      
		h5 {
			text-align: center;
			margin-bottom: 56px;
		}		
	}
}