.c-banner {
    display: flex;
    .c-banner_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        z-index: -1;
        overflow: hidden;
        display: flex;
        @media (min-width: 320px) {
            height: calc(100% - 89px);
            top: 89px;
        }                
        @media (min-width: 840px) {
            height: calc(100% - 96px);
            top: 96px;
        }          
        @media (min-width: 1280px) {
            height: calc(100% - #{$heightZero});
            top: $heightZero;
        }        
        background: #000;
        iframe {
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 100vh;
            min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
        }    
    }
    .c-banner_hero-image {
      width: 100%;
      .c-hero-image {
        display: flex;
        position: relative;
        height: 550px;
        background-size: cover !important;
      }
    }
    .c-banner_content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;  
      z-index: 1;
      padding: 0 $inuit-global-spacing-unit;
      flex-direction: column;
    }
    .c-go-down-button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      margin-left: -33px;
      &:hover {
        cursor:pointer;
      }
    }

}