.home {
	.c-header {
		height: 100vh;
	}	
}
.c-header {
	@include spacingZero();
	&.-mb-0 {
		margin-bottom: 0;
	}
	.c-header_nav {
		background: $globalOne;
		position: relative;
		z-index: 6;
		.c-navigation {
			display: flex;
			transition: all 0.15s linear;
			.c-header_logo {
				padding: 28px 0;
				margin-right: auto;
				@media (min-width: 320px) and (max-width: 839px) {
					img {
						max-width: 200px;
					}
				}				
				@media (min-width: 840px) and (max-width: 1279px) {
					img {
						max-width: 240px;
					}
				}
			}
			.c-header_logo,.c-header_links,.c-header_button {
				flex: 0 auto;
				display: flex;
				align-items: center;			
			}
		}
	}
	.c-navigation_ul {
		margin-bottom: 0;
    	@media (min-width: 320px) {
    		display: none;
		}			
    	@media (min-width: 600px) {
    		display: block;
		}			
		li {
			line-height: 0 !important;
			display: inline-block;
        	@media (min-width: 600px) {
				margin-right: 24px;
			}			
        	@media (min-width: 720px) {
				margin-right: 32px;
			}			
        	@media (min-width: 840px) {
				margin-right: 40px;
			}
			&,* {
				font-size: 14px;
				color: $globalZero;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 2.97px;
			}
			a {
				text-decoration: none;
			}
			&.c-language-switcher a {
				text-transform: uppercase;
			}
			&.c-facebook {
				a {
					display: block;
					height: 23px;
					width: 10px;
					background: url(../images/icons/excavation-l-martel-header-facebook.svg);
				}
			}
		}
	}
}


.-js-menu-active {
	.c-menu_dropdown {
        @media (min-width: 320px) {
            top: 89px;
        }                
        @media (min-width: 840px) {
            top: 96px;
        }
        @media (min-width: 1280px) {
            top: $heightZero;
        } 
		transition: top 0.4s linear;
	}	


.c-menu_dropdown {
 li a, li {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}			
	}
}





.c-menu_dropdown {
	position: absolute;
	width: 100vw;
	background: rgba(0,0,0,.8);
        @media (min-width: 320px) {
        	height: calc(100% - 89px);
        }                
        @media (min-width: 840px) {
            height: calc(100% - 96px);
        }          
        @media (min-width: 1280px) {
            height: calc(100% - #{$heightZero});
        }  
	z-index: 3;
	top: -120vh;
	transition: top 0.5s 0.2s linear;
	padding-top: 88px;
	* {
		color: #FFF;
		font-size: 32px;
		margin-bottom: 42px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
	}

li:nth-child(1) {
    transition-delay: .4s !important;
}
li:nth-child(2) {
    transition-delay: .5s !important;
}
li:nth-child(3) {
    transition-delay: .6s !important;
}
li:nth-child(4) {
    transition-delay: .7s !important;
}
li:nth-child(5) {
    transition-delay: .8s !important;
}
li:nth-child(6) {
    transition-delay: 0.9s !important;
}
li:nth-child(7) {
    transition-delay: 1s !important;
}
	
    	li,a {
    		font-size: 20px;
    		margin-bottom: 26px;
    		padding-left: 0;
    		width: 100%;
    		opacity: 0;
    	-webkit-transition: opacity .4s cubic-bezier(.4,0,.2,1),-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),transform .4s cubic-bezier(.4,0,.2,1) .4s,-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem);    		
    	}

	.c-depth-one {
				    @media (min-width: 320px) and (max-width: 840px) {
    max-height: 0;
	height: auto;

margin-bottom: -24px;
transition: margin-bottom 1.6s linear, max-height 1s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);



				    	    &.-js-submenu-active {
position: relative;
height: auto;
transition: margin-bottom 1.4s linear,max-height 1s 0.0s cubic-bezier(0.645, 0.045, 0.355, 1);
margin-bottom: 24px;
height: auto;
max-height: 100%;


				    	    }
				    }
		    @media (min-width: 841px) {
    	position: absolute;
    	left: 50%;
    	margin-top: -28px;		
    }
    &.-js-submenu-active {
 li a, li {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}			
> li:nth-child(1) {
    transition-delay: .8s;
}
> li:nth-child(2) {
    transition-delay: .7s;
}
> li:nth-child(3) {
    transition-delay: .6s;
}
> li:nth-child(4) {
    transition-delay: .5s;
}
> li:nth-child(5) {
    transition-delay: .4s;
}
> li:nth-child(6) {
    transition-delay: 0.3s;
}
> li:nth-child(7) {
    transition-delay: 0.2s;
}
		}
    	li,a {
    		font-size: 20px;
    		margin-bottom: 26px;
    padding-left: 0;
    width: 100%;
    font-size: 1rem;
    opacity: 0;
    -webkit-transition: opacity .4s cubic-bezier(.4,0,.2,1),-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),transform .4s cubic-bezier(.4,0,.2,1) .4s;
    transition: opacity .4s cubic-bezier(.4,0,.2,1),transform .4s cubic-bezier(.4,0,.2,1) .4s,-webkit-transform .4s cubic-bezier(.4,0,.2,1) .4s;
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem);    		
    	}
	}
}

.c-parent {
	&:hover {
		cursor: pointer;
	}
	position: relative;
    width: 100%;
    display: block;	
	span {
    position: absolute;
    transition: width 0.2s linear;
    content: '';
    width: 0;
    height: 2px;
    background: #FFF;
    margin-left: 24px;
    top: 50%;
    margin-top: -1px;
    &:before {
    position: absolute;
    content: "";
    height: 16px;

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #FFF;
    @media (min-width: 320px) {    
    	top: -8px;
    	right: 5px;    	
    }
    @media (min-width: 841px) {
    	top: -13px;
    	right: 5px;
	}    
    width: 2px;

    transition: all 0.2s 0.2s linear;
    }
    &:after {
    position: absolute;
    content: "";
    height: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #FFF;
    @media (min-width: 320px) {    
    	top: -8px;
    	right: -6px;    	
    }
    @media (min-width: 841px) {
    	top: -2px;
    	right: 5px;
	}
    width: 2px;
    transition: all 0.2s 0.2s linear;
    }    
}


@media (min-width: 320px) {
	&.-js-submenu-active span {
    width: 0;
    &:before {
    	transform: rotate(-135deg);
    	top: -7px;
    	transition: all 0.2s  linear;
    }
    &:after {
    	transform: rotate(135deg);
    	top: -7px;
    	transition: all 0.2s  linear;
    } 

}

}


@media (min-width: 841px) {
	&.-js-submenu-active span {
    width: calc(50%);
    &:before {
    	transform: rotate(-90deg);
    	top: -7px;
    	transition: all 0.2s 0.2s linear;
    }
    &:after {
    	transform: rotate(90deg);
    	top: -7px;
    	transition: all 0.2s 0.2s linear;
    } 

}

}




}
html {
	overflow-x: hidden;
}

html.-js-menu-active {
    overflow: hidden;
    width: 100%;
}