.c-available-jobs {
	@include spacingZero();
	h2 {
		text-align: left;
	}
	@include accordionStyle();
	h3 {
		a {
			color: $globalZero;
			text-decoration: none;
		}
		&:hover {
			cursor: pointer;
		}
	}
}