.c-list_ul {
	margin: 0;
	color: $globalOne;
	.c-grid-container {
	    display: grid;
	    grid-template: repeat(1, [row] minmax(104px, 1fr))/repeat(2, [col] 1fr);
	    grid-gap: 0;
	    background: $bgZero;
		.c-grid-container__item {
		    grid-row-start: 1;
		}	
		&.-odd {
			.c-grid-container__item.-content {
			    grid-column-start: 1;
			}
			.c-grid-container__item.-image {
				grid-column-start: 2;
			}
		}
		&.-even {
			.c-grid-container__item.-content {
				grid-column-start: 2;
			}
			.c-grid-container__item.-image {
		    	grid-column-start: 1;
			}
		}
		.c-grid-container__item.-content {
		    display: grid;
		    margin: 0 auto;
		    -webkit-box-align: center !important;
		    -ms-flex-align: center !important;
		    align-items: center !important;
		    justify-items: center !important;    
		    max-width: 540px;
		    padding: 88px 24px;	
		}
		.c-grid-container__item.-image {
			background-size: cover !important;
			background-position: center center !important;
		}	
	}
}