.c-section-w-sidebar {
	@include spacingZero();
	position: relative;
	.c-btn--back {
		position: absolute;
		top: 40px;
		left: 0;
	}
	.o-wrapper {
		position: relative;
	}
	.c-content {
		@media screen and (min-width: 720px) {		
			margin-top: 128px;
		}		
		@media screen and (min-width: 840px) {		
			margin-top: 114px;
		}
		margin-bottom: 0;
		text-align: left;





		@media screen and (min-width: 840px) {
			padding-right: 32px;
			@include spacingZero();
		}				
		@media screen and (min-width: 960px) {
			padding-right: 40px;
		}				
		@media screen and (min-width: 1024px) {
			padding-right: 48px;
		}			
		@media screen and (min-width: 1148px) {
			
			padding-right: 56x; 
		}		
		@media screen and (min-width: 1440px) {
			padding-right: 88px;
 
		}


		flex-direction: column;

		&.-google-maps {
			margin-top: 0;
			padding-right: 0;
			z-index: 1;
			flex-direction: unset;
			margin-bottom: 0 !important;
			padding-left: 0 !important;
						@media (min-width:320px) {
				width: 66.66%;
}
			@media (min-width:1366px) {
			width: calc((100vw - 1366px)/2 + ((1366px/3)*2) - 8px) !important;

}
			#google-map {
				width: 100%;
			}
		}
	}
	.c-content {
		h2 {
			text-align: left;
		}
	}	
	.c-sidebar {
		@media screen and (min-width: 320px) {		
			display: none;
		}
		@media screen and (min-width: 840px) {
			padding: 114px 32px 124px; 
			display: flex;
		}				
		@media screen and (min-width: 960px) {
			padding: 114px 40px 124px; 
		}				
		@media screen and (min-width: 1024px) {
			padding: 114px 48px 124px; 
		}			
		@media screen and (min-width: 1148px) {
			padding: 114px 56px 124px; 
		}		
		@media screen and (min-width: 1440px) {
			padding: 114px 88px 124px; 
		}	
		ul {
			margin-bottom: 0;
			li {
				color: #FFF;
				margin-bottom: 64px;
				&:last-child {
					margin-bottom: 0;
				}
				.c-sidebar_title {
					font-size: 14px;
					line-height: 40px;
		@media screen and (min-width: 840px) {
					letter-spacing: 4px;
		}	
		@media screen and (min-width: 960px) {
					letter-spacing: 6px;
		}				
		@media screen and (min-width: 1148px) {
					letter-spacing: 8px;
		}		
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}
			span {
				font-weight: 300;
			}
		}
	}	
}

.c-career_single {
	.c-sidebar {
		background: $secondary;
	}	
}

.c-project_single {
	margin-bottom: 0;
	.c-sidebar {
		background: $bgZero;
		position: relative;
		.c-sidebar_title {
			color: $secondary
		}	
		:after {
			position: absolute;
			content: '';
			top: 0;
			width: 100vw;
			left: 100%;
			height: 100%;
			background: $bgZero;
		}
	}
	.c-project-single_content {
@media (min-width:840px) {
		@include spacingZero();		
	}
	}		
}	

.c-contact-us,
.c-career_single {
	margin-bottom: 0;
	.c-sidebar {
		background: $secondary;
		position: relative;
		a {
			color: $globalOne !important;
		}
		.c-sidebar_title {
			color: $globalOne
		}	
		:after {
			position: absolute;
			content: '';
			top: 0;
			width: 100vw;
			left: 100%;
			height: 100%;
			background: $secondary;
		}
	}
	.c-contact-us {
		@include spacingZero();		
	}		
}	


	.c-contact-us {
		@include spacingZero();		
	}	


.c-google-maps {
	  display: block;
	  width: 100%;
  /* [1] */
  display: flex;
  flex-wrap: wrap;
  .-google-maps,
  -aside {
  		 display: flex;
  }
}


.-aside {
			@media (min-width:320px) {
				width: 100%;
}		
			@media (min-width:840px) {
				width: 33.33%;
}	
			@media (min-width:1366px) {	
width: calc(1366px/3 - 16px);
}

}


.c-career_single {
	@media (max-width: 839px) {
		@include spacingZero();
	}	
 	.c-accordion_ul {
 		margin-bottom: 0;
		.c-accordion_li {
			&:last-child {
				p:last-child {
					margin-bottom: 24px !important;
				}
			}
		}
	}	
}


.c-project_single {
	@include spacingZero();	
}